<p class="greeting">Password Changed Successfully</p>

<p>This is a confirmation that the password for your Prep-2-Plate account has been changed.</p>

<p>If you didn't make this change, please reset your password immediately or contact us at <a href="mailto:support@prep2plate.com">support@prep2plate.com</a>.</p>
