 <footer class="bg-[#F4F1DE] text-[#2E2E2E] py-8 mt-12 border-t border-[#EDEADE]">
  <div class="max-w-4xl mx-auto px-4 space-y-4 md:space-y-0 md:flex md:items-center md:justify-between text-sm">
    
    <div class="flex items-center space-x-6">
      <p>&copy; <%= Time.current.year %> Prep2Plate. All rights reserved.</p>
      <a href="/terms_of_service" class="text-[#8CB369] hover:underline">Terms of Agreement</a>
    </div>

    <!-- <div class="flex space-x-4">
      <a href="https://www.instagram.com" target="_blank" rel="noopener" class="text-[#BC4B51] hover:text-[#a03d45]">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a href="https://www.facebook.com" target="_blank" rel="noopener" class="text-[#8CB369] hover:text-[#6c914a]">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <a href="https://www.pinterest.com" target="_blank" rel="noopener" class="text-[#F4A259] hover:text-[#e68f3f]">
        <i class="fab fa-pinterest fa-lg"></i>
      </a>
    </div> -->
  </div>
</footer>
