<aside class="relative bg-white h-screen w-[350px] hidden sm:block">
  <div class="bg-white p-2 border-b border-gray-200">
    <%= image_tag 'prep-2-plate.png', class: "w-[5rem]" %>
  </div>
  <nav>
    <%= render NavItemComponent.with_collection(@facade.layout.menu) %>
  </nav>
</aside>
